html, body, div#root, div.App, div.offer-area {
  height: 100%;
  min-height: 100%;
}

div.root {
  position: relative;
}

.App {
  text-align: center;
}

.player-icon {
  border: 1vw dotted lightslategray;
  width: 28vw;
  min-width: 350px;
  min-height: 350px;
  height: 28vw;
  object-fit: cover;
  object-position: 0% 0%;
}

.player-icon.done {
  border: 1vw solid;
}

.player-card img {
  display: block;
}

p {
  display: inline-block;

}
.card.revealed.minus1 .word{
  color: white;
  opacity: 0.2;
  text-shadow: 0 0 .3vh black;
}

.card.revealed.minus2 .word{
  opacity: 0.3;
  text-shadow: 0 0 1vh black;
}

.card.revealed.BLUE, .card.revealed.spymaster.BLUE {
  background: darkslateblue;
  color: darkslateblue;
}

.card.revealed.RED, .card.revealed.spymaster.RED {
  background: salmon;
  color: salmon;
}

.card.revealed.NEUTRAL, .card.revealed.spymaster.NEUTRAL {
  background: lightslategray;
  color: lightslategray;
}

.card.BLUE.spymaster {
  background: darkslateblue;
  color: white;
}
.card.RED.spymaster {
  background: salmon;
  color: white;
}

.card.NEUTRAL.spymaster {
  background: lightslategray;
  color: white;
}


.card {
  cursor: pointer;
}

.player-card {
  display: inline-block;
  text-align: center;
  font-size: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 2vw;
  margin-bottom: 1em;
}


@media (max-width: 1200px) {
  .player-card{
    /* Maximum font size */
    font-size: 32px
  }
}

.player-icon.blue {
    border-color: darkslateblue;
}

.player-icon.red {
  border-color:salmon;}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  color: black;
  background: white;
  border-radius: 1em;
    font-family: 'Libre Franklin', cursive;
    font-weight: 700;
    z-index: 5;
    padding: 5px;
    font-size: 1.8em;
    line-height: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: .8vw;
    text-transform: uppercase;
}


.grid-container {
    padding-left: 5px;
    padding-right: 5px;
    max-width: calc(100% - 40px);
    display: grid;
    box-sizing: border-box;
    grid-gap: 10px;
    grid-template-rows: 1em 1fr 1fr 1fr 1fr 1fr 1em;
    grid-template-areas: "header header header header header" "c00 c01 c02 c03 c04" "c10 c11 c12 c13 c14" "c20 c21 c22 c23 c24" "c30 c31 c32 c33 c34" "c40 c41 c42 c43 c44" "footer footer footer footer footer";
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 100%;
}

.her {grid-area: header;}
.c0 { grid-area: c00; }
.c1 { grid-area: c01; }
.c2 { grid-area: c02; }
.c3 { grid-area: c03; }
.c4 { grid-area: c04; }
.c5 { grid-area: c10; }
.c6 { grid-area: c11; }
.c7 { grid-area: c12; }
.c8 { grid-area: c13; }
.c9 { grid-area: c14; }
.c10 { grid-area: c20; }
.c11 { grid-area: c21; }
.c12 { grid-area: c22; }
.c13 { grid-area: c23; }
.c14 { grid-area: c24; }
.c15 { grid-area: c30; }
.c16 { grid-area: c31; }
.c17 { grid-area: c32; }
.c18 { grid-area: c33; }
.c19 { grid-area: c34; }
.c20 { grid-area: c40; }
.c21 { grid-area: c41; }
.c22 { grid-area: c42; }
.c23 { grid-area: c43; }
.c24 { grid-area: c44; }

.footer { grid-area: footer; }

.header { grid-area: header; }

@media only screen and (max-width : 500px) {
    .grid-container {
        padding-left: 1px;
        padding-right: 1px;
        max-width: calc(100%);
        max-height: 100%;
        grid-gap: 0px;
        grid-template-rows: 2em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1em;
        grid-template-columns: 100%;
        grid-template-areas: "header" "c00" "c01" "c02" "c03" "c04" "c10" "c11" "c12" "c13" "c14" "c20" "c21" "c22" "c23" "c24" "c30" "c31" "c32" "c33" "c34" "c40" "c41" "c42" "c43" "c44" "footer";
        margin-right: 0px;
    }
    .header button {margin-bottom: 1em;}

    .card {
        font-size: 1.2em;
        font-size: 1em;
        display: grid;
        margin: 2px;
    }

}

@media only screen and (max-width : 800px) {

    .card {
        text-transform: uppercase;
        font-size: 1em;
        display: grid;
        margin: 0px;
        margin-top: 1px;
        padding: 0px;
    }

}
